@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

@import "mixins";
@import "vars";

%container {
    width: 80%;
    padding: 0 10%;
}

%flexDisplay {
    display: flex;
    justify-content: space-between;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    background-color: #fff;
    color: $textColor;
    }

a {
    text-decoration: none;
    color: $hrefColor;
    transition: color 600ms ease;

    &:hover {
        color: $hrefColorHover;
    }
}

header{
    //@extend %container;
    width: 64%;
    margin: 0 auto;
    @extend %flexDisplay;
    height: 150px;
    text-align: center;

    h1{
        font-size: 26px;
    }

}

.main{
    @extend %container;
    
    span {
        width: 60%;
        color: #9b7a7a;
        font-size: 12px;
        margin-left: 100px;
        margin-bottom: 50px;
        
    }

    .link{
        
        h2{
        text-align: center;
        font-size: 24px;
        }



        p{
            width: 80%;
            margin: 0 auto;
            background: red;
            color: #fff;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 20px;
            font-weight: 800;
            border-radius: 5px;
            
        }
        ol {
            width: 75%;
            margin: 0 auto;
            padding-left: 60px;
            
        } 
    }

}

.content{
    @extend %container;
    margin: 60px 0;
    

    .article{
        
    border-bottom: 2px solid red;

        h2{
            @extend %container;
            background: red;
            color:#fff;
            font-size: 24px;
            text-align: center;
            font-weight: 800;
            width: 80%;
            margin-top: 40px;
            margin-bottom: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 5px;
        }

        .section_block{
            height: auto;
            padding: 5px 20px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid silver;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 20px;


            p{
                margin-left: 40px;
                font-size: 22px
            }
        }
    }
}

footer{
    @extend %container;
    height: 200px;
    p{
        width: 80%;
        background: red;
        color: #fff;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        font-weight: 800;
        font-size: 24px;
        border-radius: 5px;
    }
}

#scrollup {
    position: fixed; /* фиксированная позиция */
    opacity: 0.8; /* прозрачность */
    padding: 15px 10px 10px; /* отступы */
    border-radius: 5px; /* скругление углов */
    right: 10px; /* отступ слева */
    bottom: 10px; /* отступ снизу */
    display: none; /* спрятать блок */
    cursor: pointer;
}

@media (max-width: 1024px) {
    header{
        
        h1{font-size: 14px;}
        .qr{display: none;}
        width: 80%;
        margin: 0 auto;
        justify-content:space-around;
        padding: 0;
        padding-top: 20px;

        img {
            width: 80%;
        }
    }

    .main{
        width: 100%;
        margin: 0 auto;
        padding: 0;

        h2, p {font-size: 3vw;}



        .link {
            
            p{
                width: 90%;
                margin-top: 10px;
                margin-bottom: 10px;
            }        
            
            ol{
                width: 80%;
                padding-left: 0px;
                margin: 0 10%;
        }

        }




        ol > li {
        font-size: 20px;
        margin-right: 1%;
        margin-left: 1%;
        color: blue;
        padding-left: 2px;
        text-align: justify;
        }
    }

.content {
    width: 95%;
    margin: 0;
    padding: 0;

    .article
    {
        
        margin-left: 5px;
        margin-right: 5px;

        h2{
            width: 72%;
            font-size: 16px;
            align-items: center;
            margin: 20px auto;
        }

        .section_block > p {
            font-size: 16px;
            margin-left: 10px;
            text-align: justify;
        }
    }
}
}